@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}
* {
	margin:0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	border:none;
	
}

form{
	background-color: white;
	width: 500px;
	display: inline-block;
	border-radius: 10px;
	opacity: 0.8;

}
form:hover{
	opacity: 0.95;
}
body{
	background-image: url("../images/Gym-background-hd4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;

}


#form{
	
	text-align: center;
	margin-bottom: -50px;
	margin-top: 5%;
}
.forgotpass{
	padding-left: 80px;
	text-decoration: none;
	font-size: 10pt;
	display: none;
}

fieldset{
	width: 450px;
	height: 500px;
	margin: auto;
	border-radius: 5px;
}
.rmsheader{
	text-align: center;
	font-family: "Modern No. 20";
	font-size: 48pt;
}
.wrc{
	width: 220px;
	height: 220px;
}

h3{
	text-align: center;
	font-size: 20pt;
	
}

p{
	text-align: center;
}	
.username{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 300px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/username.png) left no-repeat;
	background-size: 40px;
	
}
.password{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 300px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/password.png) left no-repeat;
	background-size: 40px;
}

.wtf{
	fill: #cccccc;
}

.login-button {
	margin: 25px 0px 0px -220px;
	width: 120px;
	height: 40px;
	font-size: 17pt;
	color: #989090;
	border:none;
	border-radius: 5px;
	box-shadow: none;
	cursor: pointer;
	
}
.username:hover {
	border: 3px solid #0d6e08;
	transition: border-color ease-in-out .50s,box-shadow ease-in-out 1s;
}
.password:hover{
	border: 3px solid #0d6e08;
	transition: border-color ease-in-out .50s,box-shadow ease-in-out 1s;
}
.login-button:active{
	background-color: #0d6e08;
	color: white;	
}

.login-button:hover{
	font-size: 19pt;
}
.username:focus {   
    border: 2px solid #0d6e08;
    box-shadow: 0 1px 1px #24b01d inset, 0 0 8px #24b01d;
    outline: 0 none;
    background: url(../icon/usernameg.png) left no-repeat;
	background-size: 40px;
	transition: 1s;
    
}
.password:focus{   
    border: 2px solid #0d6e08;
    box-shadow: 0 1px 1px #24b01d inset, 0 0 8px #24b01d;
    outline: 0 none;
    background: url(../icon/passwordg.png) left no-repeat;
	background-size: 40px;
	transition: 1s;
	
}

footer{
	margin-top: 100px;
	height: 50px;
}


@media screen and (max-width: 420px){

fieldset{
	width: 200px;
	height: 500px;
	margin: auto;
	border-radius: 5px;
}
.rmsheader{
	text-align: center;
	font-family: "Modern No. 20";
	font-size: 48pt;
}
.wrc{
	width: 220px;
	height: 220px;
}

h3{
	text-align: center;
	font-size: 20pt;
	
}

p{
	text-align: center;
}	
.username{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 200px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/username.png) left no-repeat;
	background-size: 40px;
	
}
.password{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 200px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/password.png) left no-repeat;
	background-size: 40px;
}

.login-button {
	margin: 25px 0px 0px 0px;
	width: 120px;
	height: 40px;
	font-size: 17pt;
	color: #989090;
	border:none;
	border-radius: 5px;
	box-shadow: none;
	cursor: pointer;
	
}

}

@media screen and (max-width: 295px){

fieldset{
	width: 300px;
	height: 500px;
	margin: auto;
	border-radius: 5px;
}
.rmsheader{
	text-align: center;
	font-family: "Modern No. 20";
	font-size: 48pt;
}
.wrc{
	width: 220px;
	height: 220px;
}

h3{
	text-align: center;
	font-size: 20pt;
	
}

p{
	text-align: center;
}	
.username{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 150px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/username.png) left no-repeat;
	background-size: 40px;
	
}
.password{
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding-left: 50px;
	width: 150px;
	height: 42px;
	margin-top: 25px;
	font-size: 17pt;
	background: url(../icon/password.png) left no-repeat;
	background-size: 40px;
}

.login-button {
	margin: 25px 0px 0px 50px;
	width: 120px;
	height: 40px;
	font-size: 17pt;
	color: #989090;
	border:none;
	border-radius: 5px;
	box-shadow: none;
	cursor: pointer;
	
}

.green{
	color: #989090;
}

