body{
    background-color: #eee;

}
.goto{
    background-color: #ccc;
   
    padding-top: 5px;
}
.fname, .lname{
    border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 20px;
  width: 180px;
  height: 25px;
  margin-top: 25px;
  font-size: 12pt;
  background-size: 40px;

}
fieldset{
  border-color: #ccc;
  border-radius: 10px;
  box-shadow: none;
  outline: 0 none;

}
#fields{
  float: left;
  padding: 20px;
  
}
#fields2{
  float: right;
  padding: 20px;
}
.submit{
  width: 90px;
  height: 35px;
  background-color:  #428bca;
  border-radius: 5px;
  cursor:pointer;
  color: #fff;
  border: none;
  margin-bottom: 10px;

}
.submit:hover{
  background-color: #337ab7;
}
#move{
  margin-top: 10px;
  padding-left: 50px;
}
input:focus{
  border: 1px solid #428bca;
    box-shadow: 1px 1px 1px #428bca;
    outline: 0 none;
  transition: 1s;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  float: right;
  height:500px;
  width: 720px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:720px;
    
}
#table-wrapper table * {
  border-bottom: 1px solid #ccc;
  color:black;
  
}
#table-wrapper table thead th .text {
  position: absolute;   
  top:-20px;
  z-index:2;
  height:25px;
  width: 290px;
  
}
#tr {
margin-left: auto;
margin-right: auto;

}
#top{
text-align: left;
}

.filter{
  height: 25px;
  border-radius: 3px;
}
.filter:focus{
  border: 1px solid #428bca;
    box-shadow: 1px 1px 1px #428bca;
    outline: 0 none;
  transition: 1s;
}

#gender{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 20px;
  width: 120px;
  height: 42px;
  
  font-size: 17pt;
  background-size: 40px;

}
#clickrow:hover{
    background-color: #C4CACC;
}
td{
    padding-top: 10px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    border-spacing: 0;

}


#white-background{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fefefe;
            opacity: 0.7;
            z-index: 9999;
        }

        #dlgbox{
            /*initially dialog box is hidden*/
            display: none;
            position: fixed;
            width: 280px;
            z-index: 9999;
            border-radius: 10px;
            background-color: #7c7d7e;
        }

        #dlg-header{
            background-color: #6d84b4;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0 10px;
        }

        #dlg-body{
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 10px;
            margin: 0 10px 0 10px;
        }

        #dlg-footer{
            background-color: #f2f2f2;
            text-align: right;
            padding: 10px;
            margin: 0 10px 10px 10px;
        }

        #dlg-footer button{
            background-color: #6d84b4;
            color: white;
            padding: 5px;
            border: 0;
        }
        .submit{
            background-color: #6d84b4;
            color: white;
            padding: 5px;
            border: 0;
        }
        #yes{
            float: left;
        }

        /* AVAIL */


#white-background2{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fefefe;
            opacity: 0.7;
            z-index: 9999;
        }

        #dlgbox2{
            /*initially dialog box is hidden*/
            display: none;
            position: fixed;
            width: 280px;
            z-index: 9999;
            border-radius: 10px;
            background-color: #7c7d7e;
        }

        #dlg-header2{
            background-color: #6d84b4;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0 10px;
        }

        #dlg-body2{
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 10px;
            margin: 0 10px 0 10px;
        }

        #dlg-footer2{
            background-color: #f2f2f2;
            text-align: right;
            padding: 10px;
            margin: 0 10px 10px 10px;
        }

        #dlg-footer2 button{
            background-color: #6d84b4;
            color: white;
            padding: 5px;
            border: 0;
        }
        .submit{
            background-color: #6d84b4;
            color: white;
            padding: 5px;
            border: 0;
        }
        #yes{
            float: left;
        }